<div class="container">
  <div class="center">
    <h1><img class="icon" src="rabbit-icon.png" alt="">Rabbit Hole</h1>
      <form class="input-group" action="/" method="get">
        <input type="text" class="form-control" name="search" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
      </form>
  </div>
</div>
